@import "tailwindcss";

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0e0e11;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2d2d33;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #f59e0b;
  }
}
